* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  margin-right: 300px;
  margin-left: 300px;
}

/* Headings */
h1,
h2 {
  text-align: center;
  background-color: #eae2b7;
}

h3 {
  display: flex;
  font-family: "Playfair Display", Times, serif;
  text-align: center;
  background-color: #eae2b7;

}

h3.center {
  margin-left: 300px;
  background-color: #eae2b7;
  
}

h3.rainbow {
  display: inline-block;
  font-size: 14;
}

h3.background {
   margin-left: 225px;
}

h3.abstract {
    display: inline-block;
  font-size: 14;
    margin-left: -25px;
    width: 150px;
}

h3.spiral {
  display: inline-block;
  font-size: 14;
}

p.item-text {
  text-align: center;
  width: 200px;
}

/* Header */
header {
  display: flex;
  text-align: center;
  margin-left: 375px;
  margin-right: 375px;
  background-color: #eae2b7;
  padding: 30px ;
}


/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

p.padding {
  font-align: center;
}

p.about {
  margin-left: 300px;
}

ul.center {
  margin-left: 300px;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
} 

nav {
  margin-top: 30px;
    text-align: center;
    vertical-align: middle;
}

/* Images */
img {
  margin-right: 250px;
  margin-left: 250px;
  width: 100%;
  max-width: 180px;
  height: 200px;
  float: center; margin: 0px 15px 15px 0px

}

.container.space-evenly {
  justify-content: space-around;
  text-align: center;
   
}


.container {
  display: flex;
}
.container.space-around {
  justify-content: space-around;
}
.container.space-between {  
  justify-content: space-between;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
  float: left; margin-left: 40px; margin-top: 5px;margin-bottom: 15px; margin-right: 10px;
}

/* Footer */
footer {
  text-align: center;
  background-color: #eae2b7;
 padding: 50px 0;
  margin-left: 375px;
  margin-right: 375px;
}

/* Other page elements */
hr {
  border: 1px solid black;
  background-color: #eae2b7;
}
